<!DOCTYPE html>
<html>
<head>
  <title>Discord Alerts ({{ config.channel }})</title>
  <script src="/socket.io.js"></script>
</head>
<body>
  <style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Montserrat');

    html, body {
      margin:0;
      padding:0;
      overflow:hidden;
    }

    #voice-container {
      font-family: "Montserrat" !important;
      font-size: 16px;
      zoom:2;
    }

    #voice-container>div {
      transition:background-color .2s;
      float: left;
      width: 180px;
      overflow: hidden;
      margin-right: 4px;
      margin-bottom: 4px;
      background-color: rgba(0,0,0,0.3);
      border-radius: 4px;
      padding-left: 3px;
    }

    img.avatar {
      width: 30px;
      height: 30px;
      border-radius: 30px;
      position: relative;
      top: 2px;
    }

    span.username {
      position: relative;
      left: 5px;
      max-width: 138px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
      line-height:27px;
      color: {{ config.text_color }};
    }

    .voiceUser {
      border-bottom:2px solid rgba(0,0,0,0);
    } .voiceUser.hide {
      display:none;
    }

    #voice-container>div.speaking {
      background-color: {{ config.accent_color }};
    }
  </style>

  <div id="voice-container">
  </div>

  <script>
    /**
    * Fetches parameters from the url string
    * @return {object} an object containing all url parameters
    */
    const _getUrlParams = () => {
      // This function is anonymous, is executed immediately and
      // the return value is assigned to QueryString!
      let queryString = {};
      let query = window.location.search.substring(1);
      let vars = query.split('&');
      for (let i=0; i<vars.length; i++) {
        let pair = vars[i].split('=');
            // If first entry with this name
        if (typeof queryString[pair[0]] === 'undefined') {
          queryString[pair[0]] = decodeURIComponent(pair[1]);
            // If second entry with this name
        } else if (typeof queryString[pair[0]] === 'string') {
          let arr = [queryString[pair[0]], decodeURIComponent(pair[1])];
          queryString[pair[0]] = arr;
            // If third or later entry with this name
        } else {
          queryString[pair[0]].push(decodeURIComponent(pair[1]));
        }
      }
      return queryString;
    }

    const _params   = _getUrlParams();
    if (_params.hide) {
      _params.hide = _params.hide.split(',');
    }

    const timer = {
      running: false,
      elapsed: 0,
      run: () => {
        if (!timer.running) {
          timer.running = true;
          timer.elapsed = 0;
          window.timerInterval = window.setInterval(() => {
            timer.elapsed = timer.elapsed + 1000;
            if (timer.elapsed >= 5000) {
              window.clearInterval(timerInterval);
              timer.running = false;
              document.getElementById('alert-container').classList.remove('shown');
            }
          }, 1000);
        } else {
          timer.elapsed = 0;
        }
      }
    };

    const sortUsers = () => {
      const list = document.getElementById('voice-container');

      let items = list.childNodes;
      let itemsArr = [];
      for (let i in items) {
          if (items[i].nodeType == 1) { // get rid of the whitespace text nodes
              itemsArr.push(items[i]);
          }
      }

      itemsArr.sort((a, b) => {
        return a.innerHTML == b.innerHTML
                ? 0
                : (a.innerHTML > b.innerHTML ? 1 : -1);
      });

      for (i = 0; i < itemsArr.length; ++i) {
        list.appendChild(itemsArr[i]);
      }
    };

    const renderUser = (humanUser) => {
      if (!document.getElementById(humanUser.id) && humanUser && humanUser.id) {
        // we need to create the user element
        const div = document.createElement('div');
        div.id = humanUser.id;

        div.classList.add('voiceUser');
        // is this user listed as a host?
        if (_params['hide'] && _params['hide'].includes(humanUser.id)) {
          div.classList.add('hide');
        }

        // set the inner html
        humanUser.avatar = humanUser.avatar || "no_avatar_supplied";
        let avatarExtension = (humanUser.avatar.startsWith('a_'))
          ? 'gif'
          : 'png';
        div.innerHTML = `<img class="avatar" displayname="${humanUser.name}" onerror="this.src='{{config.fallbackAvatar}}'" src="https://cdn.discordapp.com/avatars/${humanUser.id}/${humanUser.avatar}.${avatarExtension}" /><span class="username">${humanUser.name}</span>`;
        document.getElementById('voice-container').appendChild(div);

        sortUsers();
      };
    };

    const removeUser = (humanUser) => {
      document.getElementById(humanUser.id).outerHTML='';
    };

    const clearAllUsers = () => {
      document.getElementById('voice-container').innerHTML = '';
    };

    document.addEventListener("DOMContentLoaded", function(event) {
      let socketClient
      let socket = io.connect(
        `http://${window.location.hostname}:{{config.port}}`,
        {
          forceNew: true,
          reconnection: true,
          reconnectionAttempts: Infinity,
          reconnectionDelay: 5000,
          query: "service=voice_chat_monitor&channel={{config.channel}}"
        }
      );

      socket.on('disconnect', () => {
        console.log('Disconnected from websocket. Will attempt to reconnect...');
      });

      socket.on('connection', (data) => {
        console.log('Websocket connection established on port {{config.port}}');
        socket.emit('roll-call');
      });

      socket.on('alert', (data) => {
        console.log(data);
        let el;
        switch (data.type) {
          case 'roll-call':
            clearAllUsers();
            data.users.forEach((entry) => {
              renderUser(entry);
            });
            break;

          case 'speaking':
            el = document.getElementById(data.user.id);
            if (el) {
              if (data.speaking) {
                el.classList.add('speaking');
              } else {
                el.classList.remove('speaking');
              }
            }
            break;

          case 'leave':
            el = document.getElementById(data.user.id);
            if (el) {
              removeUser(data.user);
            }
            break;

          case 'join':
            el = document.getElementById(data.user.id);
            if (!el) {
              // add the user to our display
              renderUser(data.user);
            }
            break;
        }
      });
    });
  </script>
</body>
</html>
